@model List<KostData>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Booking Lily Kost🌺</h3>
            </div>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-action="Create" asp-controller="BookingData">
                    <div class="mb-3">
                        <label>Nama</label>
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Nomor Telepon</label>
                        <input type="text" name="PhoneNumber" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Nomor Induk Kependudukan</label>
                        <input type="text" name="IDCardNumber" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Pekerjaan</label>
                        <input type="text" name="Work" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Jumlah Kamar</label>
                        <input type="text" name="Count" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <select name="DataKost">
                            <option value="">Select Kost</option>
                            @foreach (var kost in @Model)
                            {
                            <option value="@kost.Id">@kost.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">
                        Simpan
                    </button>
                    <a href="/Home/Index" class="btn btn-primary">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</div>
