@model List<KostData>
@{
    Layout = "_LayoutAdmin";
}
<section class="py-1 text-center container">
    <div class="row py-lg-1">
        <h1 class="fw-light">🌺Hai ADMIN Lily Kost🌺</h1>
    </div>
</section>