@{
    ViewData["Title"] = "Kebijakan Privasi Lily Kost🌺";
}
<h1>@ViewData["Title"]</h1>

<div class="row py-lg-3">
    <p>
        Halo, terima kasih telah mengunjungi situs web (website) <a href="\home\index\kost.Id">lilykost.com</a>
        atau aplikasi Lilykost (selanjutnya disebut “platform”).    
    </p>

    <p>
        Platform ini dimiliki dan dioperasikan oleh Lilykost dan afiliasinya (selanjutnya 
        disebut, “Kami”). Kami sangat menghormati privasi atas Informasi Pribadi pendatang, 
        pengguna, ataupun pengguna terdaftar (selanjutnya disebut “Anda”) dan ingin 
        melindungi Informasi Pribadi tersebut sesuai dengan Kebijakan Privasi (selanjutnya 
        disebut “Kebijakan”) ini.
    </p>

    <p>
        Kebijakan ini berlaku pada setiap platform yang dioperasikan oleh Kami. Kebijakan 
        ini menjelaskan bagaimana Kami mengumpulkan, menyimpan, menjaga, menggunakan dan 
        (pada kondisi tertentu) mengungkapkan informasi pribadi yang teridentifikasi yang 
        Anda berikan selama menggunakan platform Kami (selanjutnya disebut “Informasi 
        Pribadi”) serta menjelaskan bagaimana langkah yang telah Kami ambil untuk 
        mengamankan Informasi Pribadi Anda. Dengan mengunjungi, menggunakan dan/atau 
        mendaftarkan diri Anda pada platform Kami, maka Anda dianggap telah membaca, 
        mengerti, memahami dan menyetujui seluruh isi yang tertuang dalam kebijakan ini. 
        Apabila Anda tidak setuju dengan sebagian atau seluruh isi Kebijakan ini, Anda 
        dapat meninggalkan platform yang Kami kelola.
    </p>
</div>